@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background-image: url(../img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Creepster", system-ui;
}

h1 {
    text-align: center;
    font-size: 70px;
    border: 5px solid red;
    border-radius: 5px;
    padding: 20px;
    
}

h2 {
    text-align: center;
    font-size: 40px;
    color: red;
}

h3 {
    text-align: center;
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px; 
    
}

.anuncio-caixa {
    flex-basis: 200px; 
    margin: 5px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    
}

.anuncio-caixa:hover{
    border: 3px solid #ccc;
    border-radius: 5px;
}

.anuncio-caixa img {
    max-width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.link:hover {
    border: 3px solid #ccc;
}